@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.itemDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.itemDetail {
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  width: 100%;
  max-width: 680px;
}

.itemImage {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.itemInfo {
  padding: 16px;
  text-align: left;

  .itemTitle {
    font-size: 24px;
    color: $color-gray-dark;
    margin-bottom: 8px;
  }

  .itemPrice {
    font-size: $font-size-lg;
    color: $color-gray;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .freeShipping {
    color: $color-green;
    font-size: $font-size-sm;
    margin-bottom: 16px;
  }

  .itemDescription {
    font-size: $font-size-sm;
    color: $color-gray;
  }
}
