@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.itemDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: $color-gray-lighter;
}

.itemDetailContainer {
  display: grid;
  grid-template-columns: 680px auto;
  column-gap: 24px;
  align-items: start;
  width: 80vw;
  padding: 10px;
  background-color: $color-white;
}

.itemImageContainer {
  max-width: 680px;
  img {
    max-width: 680px;
    height: auto;
    border-radius: 4px;
  }
}

.itemInfoContainer {
  .itemConditionNew {
    font-size: $font-size-sm;
    margin-top: 14px;
  }

  .itemTitle {
    font-size: $font-size-lg;
    margin-top: 14px;
  }

  .itemPrice {
    font-size: $font-size-hg;
    margin-top: 32px;
  }

  .buyButton {
    background-color: #3483FA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: $font-size-xs;
    margin-top: 32px;
    width: 234px;
  }
}

.itemDescriptionContainer {
  width: 80vw;
  padding: 10px;
  background-color: $color-white;
  .descriptionTitle {
    font-size: $font-size-lx;
  }

  .itemDescription {
    font-size: $font-size-mm;
    margin-top: 32px;
  }
}
