// Color Palette from design specs

//$color-gray-light: #EEEEEE;
//$color-gray: #999999;


$color-white: #FFFFFF;
$color-yellow: #FFE600;
$color-gray-lighter: #EEEEEE;
$color-gray-light: #999999;
$color-gray: #666666;
$color-gray-dark: #333333;
$color-green: #3483FA;

// Typography
$font-stack: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-nm: 12px;
$font-size-sm: 14px;
$font-size-xs: 18px;
$font-size-lg: 24px;


